<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.java.liziang">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HouFuDao"
        android:usesCleartextTraffic="true">
        <activity android:name=".KeywordForQuesion"></activity>
        <activity android:name=".CollectionActivity" />
        <activity android:name=".HistoryActivity" />
        <activity android:name=".HisoryActivity" />
        <activity
            android:name=".LogoutActivity"
            android:exported="true" />
        <activity android:name=".LinkedInfoActivity" />
        <activity android:name=".InstanceLinkActivity" />
        <activity
            android:name=".ResultActivity"
            android:exported="true" />
        <activity
            android:name=".QuestionsActivity"
            android:exported="true" />
        <activity
            android:name=".MessengerActivity"
            android:exported="true" />
        <activity
            android:name=".ObjectLinckActivity"
            android:exported="true" />
        <activity
            android:name=".ObjectActivity"
            android:exported="true" />
        <activity
            android:name=".EditSubjectActivity"
            android:exported="true" />
        <activity
            android:name=".HostActivity"
            android:exported="true"
            android:label="@string/title_activity_host"
            android:theme="@style/Theme.HouFuDao.NoActionBar" />
        <activity
            android:name=".DashboardActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>